.cv-second-decoration {
  position: absolute;
  top: 75%;
  left: 12.5%;
  /* background-color: purple; */
}
.cv-second-decoration h1 {
  font-family: var(--cv-primary-font);
  color: var(--cv-black-color);
  font-size: 480%;
}

.cv-second-decoration h2 {
  font-family: var(--cv-secondary-font);
  color: var(--cv-red-color);
  font-size: 280%;
  margin-top: -5%;
}

@media screen and (max-width: 800px){
  .cv-second-decoration {
    top: 85%;
    left: 5%;
  }
}