.cv-first-decoration-container{
    width: 30%;
    height: 65%;
    position: absolute;
    top: 5%;
    left: 2.5%;
}

.cv-main-japanese-title svg{
    width: 12%;
    fill: var(--cv-black-color);
    position: absolute;
    top: 20%;
    z-index: 2;
}
.cv-main-red-circle{
    width: 70%;
    position: absolute;
    top: 5%;
    z-index: 1;
}

.cv-main-black-letter{
    width: 45%;
    fill: var(--cv-black-color);
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 2;
}

.cv-main-black-circle{
    width: 70%;
    position: absolute;
    fill: var(--cv-black-color);
    top: 10%;
    left: 10%;
}

@media screen and (min-width: 1440px) and (max-width: 2560px) {
    .cv-first-decoration-container{
        width: 35%;
        height: 65%;
        top: 2.5%;
        left: 2.5%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1439px) {
    .cv-first-decoration-container{
        width: 40%;
        height: 65%;
    }
}

@media screen and (min-width: 801px) and (max-width: 999px) {
    .cv-first-decoration-container{
        width: 40%;
        height: 65%;
    }
}

@media screen and (max-width: 800px){
    .cv-first-decoration-container{
        width: 40%;
        height: 65%;
        top: 2.5%;
        left: 2.5%;
    }
}
@media screen and (max-width: 700px){
    .cv-first-decoration-container{
        width: 45%;
        height: 75%;
    }
}
@media screen and (max-width: 600px){
    .cv-first-decoration-container{
        width: 50%;
        height: 80%;
    }
}
@media screen and (max-width: 500px){
    .cv-first-decoration-container{
        width: 55%;
        height: 85%;
    }
}
@media screen and (max-width: 400px){
    .cv-first-decoration-container{
        width: 70%;
        height: 80%;
    }
}